@font-face {
  font-family: RobotoRegular;
  src: url(fonts/Roboto-Regular.ttf) format(woff2);
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: RobotoBold;
  src: url(fonts/Roboto-Bold.ttf) format("woff");
  font-weight: bold;
}

@font-face {
  font-family: Cursive;
  src: url(fonts/QwitcherGrypen-Regular.ttf) format(woff2);
  font-weight: 600;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: RobotoRegular, Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --heading-font: RobotoBold, Verdana, Geneva, Tahoma, sans-serif;
  --text-font: RobotoRegular, Verdana, Geneva, Tahoma, sans-serif;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.28);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.28);
}

body,
header,
footer,
.contact-us-container > form,
.name-input-container > div,
.other-info-container > div,
.feedback-container,
#content,
.food-details {
  display: flex;
  flex-direction: column;
}

body {
  align-items: center;
  position: relative;
  min-height: 100vh;
}

header {
  align-items: center;
  background-color: white;
  width: 100%;
  margin-bottom: 50px;
}

#logo {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

#logo > h1 {
  font-family: Cursive, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
}

#logo > p {
  font-family: var(--text-font);
  font-size: 0.8rem;
  color: rgba(62, 61, 61, 0.6);
}

header > nav {
  display: flex;
  justify-content: center;
}

nav > button {
  padding: 10px 35px;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(66, 66, 66);
}

hr {
  border: 0.4px solid rgba(191, 191, 191, 0.257);
  width: 100%;
  margin-top: 30px;
  margin-bottom: 50px;
}

#content {
  width: 70%;
  align-items: center;
  margin-bottom: 100px;
}

.topics:nth-child(2) > .image-holder {
  order: 1;
}

.introduction,
.internship-program,
.fresh-ingredients {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

#home-content > section:nth-child(2) > .image-holder {
  order: 2;
}

#introduction {
  background: red;
}

.image-holder {
  flex: 2;
}
.text {
  flex: 1;
}

.text h2 {
  font-size: 2rem;
  padding-bottom: 10px;
}

.text p {
  line-height: 2;
  text-align: justify;
}

section img {
  height: auto;
  width: 100%;
}

footer {
  padding: 5px;
  width: 100%;
  background-color: rgba(185, 185, 185, 0.224);
  align-items: center;
  justify-content: center;
  gap: 5px;
  position: absolute;
  bottom: 0;
}

footer > ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

footer img {
  height: auto;
  width: 25px;
}

.contact-us-container {
  color: rgba(120, 120, 120, 0.679);
  padding: 50px;
  width: clamp(350px, 70%, 800px);
  border-radius: 5px;
}

.contact-us-container form > * {
  padding: 10px 0;
}

.contact-us-header {
  text-align: center;
}

.contact-us-header h2,
.contact-us-header p {
  padding-bottom: 15px;
}

.contact-us-header h2 {
  font-size: 1.6rem;
  font-family: RobotoBold, RobotoRegular, Verdana;
}

.contact-us-header h2 {
  color: black;
}

.contact-us-container label {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding-bottom: 8px;
}

.contact-us-container > form > input[type="submit"] {
  border: none;
  border-radius: 3px;
  padding: 15px;
  background-color: #4f75ff;
  color: white;
  cursor: pointer;
}

.name-input-container,
.other-info-container {
  display: flex;
  gap: 15px;
}

.name-input-container > div,
.other-info-container > div {
  flex: 1;
}

.contact-us-container input,
.contact-us-container textarea {
  padding: 8px;
  font-size: 1.2rem;
  border: 1px solid rgba(97, 97, 97, 0.204);
}

.contact-us-container input::placeholder,
.contact-us-container textarea::placeholder {
  font-size: 0.9rem;
}

.feedback-container textarea {
  min-height: 150px;
  resize: none;
}

.contact-us-container input[type="submit"] {
  margin-top: 30px;
}

/* MENU */

.menu-container,
.menu-title {
  align-items: center;
}

.menu-title {
  margin-bottom: 50px;
}

.menu-title > h2 {
  text-transform: uppercase;
  padding-bottom: 25px;
}

.menu-title > p {
  color: rgb(108, 108, 108);
  text-align: justify;
}

.food-group {
  width: 100%;
}

.food-group > section {
  margin-bottom: 50px;
}

.food-group h3 {
  background-color: rgb(236, 91, 91);
  text-transform: uppercase;
  text-align: center;
  font-family: RobotoBold, Verdana;
  font-size: 1.2rem;
  padding: 25px 50px;
  color: white;
  border-radius: 5px;
  margin-bottom: 50px;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 20px;
  padding: 20px;
  background-color: rgba(208, 204, 204, 0.343);
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 300px;
  gap: 20px;
  background-color: white;
}

.image-container {
  flex: 1;
  overflow: hidden;
  border: white 1px solid;
  -webkit-box-shadow: 4px 0px 18px -3px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 4px 0px 18px -3px rgba(0, 0, 0, 0.41);
  box-shadow: 4px 0px 18px -3px rgba(0, 0, 0, 0.41);
}

.food-details {
  flex: 1;
  justify-content: center;
  gap: 20px;
  padding-right: 10px;
}

.food-details h4 {
  color: rgb(236, 91, 91);
  text-transform: uppercase;
  font-family: RobotoBold, Verdana;
  font-size: 1.1rem;
}

.food-details p {
  color: rgb(103, 103, 103);
}

.food-details p:last-child {
  color: black;
}

/* MENU */

/* Mobile View */
@media (min-width: 300px) and (max-width: 1160px) {
  header > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  hr {
    border: 0;
  }

  #content {
    width: 100%;
    padding: 20px;
  }

  .topics {
    display: flex;
    flex-direction: column;
  }
  .topics:nth-child(2) > .image-holder {
    order: 0;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: transparent;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  .food-details {
    padding: 15px;
  }

  .contact-us-container {
    width: 100%;
    padding: 15px;
  }

  .name-input-container,
  .other-info-container {
    display: flex;
    flex-direction: column;
  }
}
/* Mobile View */
